# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
# Might be used to customize further the path to node that xcode uses, see .xcode.env for our version controlled file
ios/.xcode.env.local

# Android/IntelliJ
#
android/keystore.properties
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Realm
*.realm*

# Jest Coverage
/coverage/

# Secrets file
.env

# Fastlane files
*.zip
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/Appfile

# Apple signing and auth files that fastlane might download
*.cer
*.mobileprovision

# Detox e2e test artifacts
artifacts/
*.log
