# Base URL for the iNat API
API_URL=https://api.inaturalist.org/v2

# Base URL for the iNat API used for OAUTH
OAUTH_API_URL=https://www.inaturalist.org

# Javascript Web Token for anonymous access to protected iNat API endpoints
JWT_ANONYMOUS_API_SECRET=some-secret

# iNaturalist OAuth client credentials (https://www.inaturalist.org/oauth/applications)
OAUTH_CLIENT_ID=your-client-id
OAUTH_CLIENT_SECRET=your-client-secret

# Credentials to log in a user for e2e testing
E2E_TEST_USERNAME=test-username
E2E_TEST_PASSWORD=test-password

GMAPS_API_KEY=some-key

# Model file names for Android and iOS. See the README for instructions on
# where to put these files. Note that in iOS, we have an additional build
# phase in xcode to hard link these files using file names xcode knows about,
# so we don't have to add these files to xcode in addition to declaring them
# here.
ANDROID_MODEL_FILE_NAME=INatVision_Small_2_fact256_8bit.tflite
ANDROID_TAXONOMY_FILE_NAME=taxonomy.csv
ANDROID_GEOMODEL_FILE_NAME=INatGeomodel_Small_2_8bit.tflite
IOS_MODEL_FILE_NAME=INatVision_Small_2_fact256_8bit.mlmodel
IOS_TAXONOMY_FILE_NAME=taxonomy.json
IOS_GEOMODEL_FILE_NAME=INatGeomodel_Small_2_8bit.mlmodel
CV_MODEL_VERSION=small_2

# Fastlane
IOS_PROVISIONING_PROFILE_NAME="provisioning profile name"
IOS_SHARE_BUNDLE_ID="share bundle ID"
IOS_SHARE_PROVISIONING_PROFILE_NAME="share provisioning profile name"
SLACK_URL="Slack webhook URL"

# Third-party Sign in
GOOGLE_WEB_CLIENT_ID=your-google-web-client-id
GOOGLE_IOS_CLIENT_ID=your-google-ios-client-id
