# Base URL for the iNat API
API_URL=https://www.inaturalist.org

# Javascript Web Token for anonymous access to protected iNat API endpoints
JWT_ANONYMOUS_API_SECRET=some-secret

# iNaturalist OAuth client credentials (https://www.inaturalist.org/oauth/applications)
OAUTH_CLIENT_ID=your-client-id
OAUTH_CLIENT_SECRET=your-client-secret
